<!-- Card group -->
<div class="card-group">

  <!-- Card -->
  <div class="card mb-4">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title" style="font-size: medium;">Darbo Raspberry jam</h4>
     <p style="text-align: center;">20NIS</p>
      <button type="button" class="btn btn-primary btn-md">product Facts</button>
      <br>
      <br>

      <button type="button" class="btn btn-primary btn-md">Add to cart</button>


    </div>
    <!-- Card content -->

  </div>
  <!-- Card -->

 <!-- Card -->
 <div class="card mb-4">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
      alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title" style="font-size: medium;">Heinez Tomato Soup</h4>
   <p style="text-align: center;">20NIS</p>
    <button type="button" class="btn btn-primary btn-md">product Facts</button>
    <br>
    <br>

    <button type="button" class="btn btn-primary btn-md">Add to cart</button>


  </div>
  <!-- Card content -->

</div>
<!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title" style="font-size: medium;">Magnum Classic ice cream</h4>
     <p style="text-align: center;">20NIS</p>
      <button type="button" class="btn btn-primary btn-md">product Facts</button>
      <br>
      <br>

      <button type="button" class="btn btn-primary btn-md">Add to cart</button>


    </div>
    <!-- Card content -->

  </div>
  <!-- Card -->

<!-- Card -->
<div class="card mb-4">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
      alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title" style="font-size: medium;">Colgate white one max</h4>
   <p style="text-align: center;">20NIS</p>
    <button type="button" class="btn btn-primary btn-md">product Facts</button>
    <br>
    <br>

    <button type="button" class="btn btn-primary btn-md">Add to cart</button>


  </div>
  <!-- Card content -->

</div>
<!-- Card -->

</div>
<!-- Card group -->

<br>
<br>

<!-- Card group -->
<div class="card-group">

  <!-- Card -->
  <div class="card mb-4">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title" style="font-size: medium;">Beef Steak Mince</h4>
     <p style="text-align: center;">20NIS</p>
      <button type="button" class="btn btn-primary btn-md">product Facts</button>
      <br>
      <br>

      <button type="button" class="btn btn-primary btn-md">Add to cart</button>


    </div>
    <!-- Card content -->

  </div>
  <!-- Card -->

 <!-- Card -->
 <div class="card mb-4">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
      alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title" style="font-size: medium;">Figs</h4>
   <p style="text-align: center;">20NIS</p>
    <button type="button" class="btn btn-primary btn-md">product Facts</button>
    <br>
    <br>

    <button type="button" class="btn btn-primary btn-md">Add to cart</button>


  </div>
  <!-- Card content -->

</div>
<!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title" style="font-size: medium;">microfiber Mop</h4>
     <p style="text-align: center;">20NIS</p>
      <button type="button" class="btn btn-primary btn-md">product Facts</button>
      <br>
      <br>

      <button type="button" class="btn btn-primary btn-md">Add to cart</button>


    </div>
    <!-- Card content -->

  </div>
  <!-- Card -->

<!-- Card -->
<div class="card mb-4">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
      alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title" style="font-size: medium;">Pampers Size 5</h4>
   <p style="text-align: center;">20NIS</p>
    <button type="button" class="btn btn-primary btn-md">product Facts</button>
    <br>
    <br>

    <button type="button" class="btn btn-primary btn-md">Add to cart</button>


  </div>
  <!-- Card content -->

</div>
<!-- Card -->

</div>
<!-- Card group -->
